<Menus>


	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Administration</Title>
		<Permissions>
			<Permission>USER_C</Permission>
			<Permission>USER_U</Permission>
			<Permission>USER_D</Permission>				
			<Permission>ROLE_C</Permission>
			<Permission>ROLE_U</Permission>
			<Permission>ROLE_D</Permission>	
			<Permission>PERMISSION_C</Permission>
			<Permission>PERMISSION_U</Permission>
			<Permission>PERMISSION_D</Permission>
			<Permission>DISCIPLINE_C</Permission>
			<Permission>DISCIPLINE_U</Permission>
			<Permission>DISCIPLINE_D</Permission>
			<Permission>SCHOOL_C</Permission>
			<Permission>SCHOOL_U</Permission>
			<Permission>SCHOOL_D</Permission>
			<Permission>POSITION_C</Permission>
			<Permission>POSITION_U</Permission>
			<Permission>POSITION_D</Permission>						
		</Permissions>			
	</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Role Related</Title>
			<Permissions>
				<Permission>ROLE_C</Permission>
				<Permission>ROLE_U</Permission>
				<Permission>ROLE_D</Permission>	
				<Permission>PERMISSION_C</Permission>
				<Permission>PERMISSION_U</Permission>
				<Permission>PERMISSION_D</Permission>															
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Role</Title>
				<Link>role.php</Link>
				<Permissions>
					<Permission>ROLE_C</Permission>
					<Permission>ROLE_U</Permission>
					<Permission>ROLE_D</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Permission</Title>
				<Link>permission.php</Link>
				<Permissions>
					<Permission>PERMISSION_C</Permission>
					<Permission>PERMISSION_U</Permission>
					<Permission>PERMISSION_D</Permission>
				</Permissions>
			</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Setup Related</Title>
			<Permissions>
				<Permission>USER_C</Permission>
				<Permission>USER_U</Permission>
				<Permission>USER_D</Permission>	
				<Permission>DISCIPLINE_C</Permission>
				<Permission>DISCIPLINE_U</Permission>
				<Permission>DISCIPLINE_D</Permission>
				<Permission>SCHOOL_C</Permission>
				<Permission>SCHOOL_U</Permission>
				<Permission>SCHOOL_D</Permission>
				<Permission>POSITION_C</Permission>
				<Permission>POSITION_U</Permission>
				<Permission>POSITION_D</Permission>
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage User</Title>
				<Link>user.php</Link>
				<Permissions>
					<Permission>USER_C</Permission>
					<Permission>USER_U</Permission>
					<Permission>USER_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Discipline</Title>
				<Link>discipline.php</Link>
				<Permissions>
					<Permission>DISCIPLINE_C</Permission>
					<Permission>DISCIPLINE_U</Permission>
					<Permission>DISCIPLINE_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage School</Title>
				<Link>school.php</Link>
				<Permissions>
					<Permission>SCHOOL_C</Permission>
					<Permission>SCHOOL_U</Permission>
					<Permission>SCHOOL_D</Permission>
				</Permissions>
			</Menu>			
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Position</Title>
				<Link>position.php</Link>
				<Permissions>
					<Permission>POSITION_C</Permission>
					<Permission>POSITION_U</Permission>
					<Permission>POSITION_D</Permission>
				</Permissions>
			</Menu>	
	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Registration</Title>
		<Permissions>
			<Permission>COURSE_C</Permission>
			<Permission>COURSE_U</Permission>
			<Permission>COURSE_D</Permission>												
			<Permission>COURSE_TYPE_C</Permission>
			<Permission>COURSE_TYPE_U</Permission>
			<Permission>COURSE_TYPE_D</Permission>				
			<Permission>COURSE_SESSIONAL_TYPE_C</Permission>
			<Permission>COURSE_SESSIONAL_TYPE_U</Permission>
			<Permission>COURSE_SESSIONAL_TYPE_D</Permission>
			<Permission>USER_C</Permission>
			<Permission>USER_U</Permission>
			<Permission>USER_D</Permission>								
			<Permission>REGISTRATION_C</Permission>
			<Permission>REGISTRATION_U</Permission>
			<Permission>REGISTRATION_D</Permission>		
			<Permission>TERM_C</Permission>
			<Permission>TERM_U</Permission>
			<Permission>TERM_D</Permission>	
			<Permission>YEAR_C</Permission>
			<Permission>YEAR_U</Permission>
			<Permission>YEAR_D</Permission>							
		</Permissions>			
	</Menu>

		<Menu>
			<ParentMenu>Registration</ParentMenu>
			<Title>Course Related</Title>
			<Permissions>
				<Permission>COURSE_C</Permission>
				<Permission>COURSE_U</Permission>
				<Permission>COURSE_D</Permission>												
				<Permission>COURSE_TYPE_C</Permission>
				<Permission>COURSE_TYPE_U</Permission>
				<Permission>COURSE_TYPE_D</Permission>				
				<Permission>COURSE_SESSIONAL_TYPE_C</Permission>
				<Permission>COURSE_SESSIONAL_TYPE_U</Permission>
				<Permission>COURSE_SESSIONAL_TYPE_D</Permission>												
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Course</Title>
				<Link>course.php</Link>
				<Permissions>
					<Permission>COURSE_C</Permission>
					<Permission>COURSE_U</Permission>
					<Permission>COURSE_D</Permission>				
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Course Type</Title>
				<Link>course_type.php</Link>
				<Permissions>
					<Permission>COURSE_TYPE_C</Permission>
					<Permission>COURSE_TYPE_U</Permission>
					<Permission>COURSE_TYPE_D</Permission>				
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Sessional Type</Title>
				<Link>course_sessional_type.php</Link>
				<Permissions>
					<Permission>COURSE_SESSIONAL_TYPE_C</Permission>
					<Permission>COURSE_SESSIONAL_TYPE_U</Permission>
					<Permission>COURSE_SESSIONAL_TYPE_D</Permission>				
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Assign Teacher to Course</Title>
				<Link>course_teacher.php</Link>
				<Permissions>
					<Permission>COURSE_C</Permission>
					<Permission>COURSE_U</Permission>
					<Permission>COURSE_D</Permission>				
				</Permissions>
			</Menu>			

		<Menu>
			<ParentMenu>Registration</ParentMenu>
			<Title>Registration Related</Title>
			<Permissions>											
				<Permission>USER_C</Permission>
				<Permission>USER_U</Permission>
				<Permission>USER_D</Permission>								
				<Permission>REGISTRATION_C</Permission>
				<Permission>REGISTRATION_U</Permission>
				<Permission>REGISTRATION_D</Permission>		
				<Permission>TERM_C</Permission>
				<Permission>TERM_U</Permission>
				<Permission>TERM_D</Permission>	
				<Permission>YEAR_C</Permission>
				<Permission>YEAR_U</Permission>
				<Permission>YEAR_D</Permission>																	
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Registration Related</ParentMenu>
				<Title>Manage Student</Title>
				<Link>user.php</Link>
				<Permissions>
					<Permission>USER_C</Permission>
					<Permission>USER_U</Permission>
					<Permission>USER_D</Permission>								
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Registration Related</ParentMenu>
				<Title>Manage Registration</Title>
				<Link>#</Link>
				<Permissions>
					<Permission>REGISTRATION_C</Permission>
					<Permission>REGISTRATION_U</Permission>
					<Permission>REGISTRATION_D</Permission>												
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Registration Related</ParentMenu>
				<Title>Manage Term</Title>
				<Link>term.php</Link>
				<Permissions>
					<Permission>TERM_C</Permission>
					<Permission>TERM_U</Permission>
					<Permission>TERM_D</Permission>												
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Registration Related</ParentMenu>
				<Title>Manage Year</Title>
				<Link>year.php</Link>
				<Permissions>
					<Permission>YEAR_C</Permission>
					<Permission>YEAR_U</Permission>
					<Permission>YEAR_D</Permission>												
				</Permissions>
			</Menu>

	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Student Center</Title>
		<Permissions>
			<Permission>DISCUSSION_C</Permission>
			<Permission>DISCUSSION_U</Permission>
			<Permission>DISCUSSION_D</Permission>												
			<Permission>PROJECT_C</Permission>
			<Permission>PROJECT_R</Permission>
			<Permission>PROJECT_U</Permission>
			<Permission>PROJECT_D</Permission>												
			<Permission>QUESTION_C</Permission>
			<Permission>QUESTION_R</Permission>
			<Permission>QUESTION_U</Permission>
			<Permission>QUESTION_D</Permission>	
		</Permissions>			
	</Menu>

		<Menu>
			<ParentMenu>Student Center</ParentMenu>
			<Title>Discussion Topic</Title>
			<Permissions>
				<Permission>DISCUSSION_C</Permission>
				<Permission>DISCUSSION_U</Permission>
				<Permission>DISCUSSION_D</Permission>												
			</Permissions>
		</Menu>
			<Menu>
				<ParentMenu>Discussion Topic</ParentMenu>
				<Title>Manage Discussion</Title>
				<Link>discussion.php</Link>
				<Permissions>
					<Permission>DISCUSSION_C</Permission>
					<Permission>DISCUSSION_U</Permission>
					<Permission>DISCUSSION_D</Permission>
				</Permissions>
			</Menu>

		<Menu>
			<ParentMenu>Student Center</ParentMenu>
			<Title>Video Related</Title>
			<Permissions>
				<Permission>VIDEO_C</Permission>
				<Permission>VIDEO_R</Permission>
				<Permission>VIDEO_U</Permission>
				<Permission>VIDEO_D</Permission>												
			</Permissions>
		</Menu>
			<Menu>
				<ParentMenu>Video Related</ParentMenu>
				<Title>Manage Video</Title>
				<Link>video.php</Link>
				<Permissions>
					<Permission>VIDEO_C</Permission>
					<Permission>VIDEO_U</Permission>
					<Permission>VIDEO_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Video Related</ParentMenu>
				<Title>Video Search</Title>
				<Link>video_search.php</Link>
				<Permissions>
					<Permission>VIDEO_R</Permission>
				</Permissions>
			</Menu>


		<Menu>
			<ParentMenu>Student Center</ParentMenu>
			<Title>Archive</Title>
			<Permissions>
				<Permission>PROJECT_C</Permission>
				<Permission>PROJECT_R</Permission>
				<Permission>PROJECT_U</Permission>
				<Permission>PROJECT_D</Permission>												
				<Permission>QUESTION_C</Permission>
				<Permission>QUESTION_R</Permission>
				<Permission>QUESTION_U</Permission>
				<Permission>QUESTION_D</Permission>	
			</Permissions>
		</Menu>
			<Menu>
				<ParentMenu>Archive</ParentMenu>
				<Title>Manage Project</Title>
				<Link>project.php</Link>
				<Permissions>
					<Permission>PROJECT_C</Permission>
					<Permission>PROJECT_U</Permission>
					<Permission>PROJECT_D</Permission>	
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Archive</ParentMenu>
				<Title>Search Project</Title>
				<Link>project_search.php</Link>
				<Permissions>
					<Permission>PROJECT_R</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Archive</ParentMenu>
				<Title>Manage Question</Title>
				<Link>question.php</Link>
				<Permissions>
					<Permission>QUESTION_C</Permission>
					<Permission>QUESTION_U</Permission>
					<Permission>QUESTION_D</Permission>	
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Archive</ParentMenu>
				<Title>Search Question</Title>
				<Link>question_search.php</Link>
				<Permissions>
					<Permission>QUESTION_R</Permission>
				</Permissions>
			</Menu>

		<Menu>
			<ParentMenu>Student Center</ParentMenu>
			<Title>Survey</Title>
			<Permissions>
				<Permission>SURVEY_C</Permission>
				<Permission>SURVEY_R</Permission>
				<Permission>SURVEY_U</Permission>
				<Permission>SURVEY_D</Permission>												
				<Permission>SURVEY_QUESTION_C</Permission>
				<Permission>SURVEY_QUESTION_R</Permission>
				<Permission>SURVEY_QUESTION_U</Permission>
				<Permission>SURVEY_QUESTION_D</Permission>	
				<Permission>SURVEY_QUESTION_TYPE_C</Permission>	
				<Permission>SURVEY_QUESTION_TYPE_R</Permission>	
				<Permission>SURVEY_QUESTION_TYPE_U</Permission>	
				<Permission>SURVEY_QUESTION_TYPE_D</Permission>	
				<Permission>SURVEY_QUESTION_FILLUP_C</Permission>
				<Permission>SURVEY_QUESTION_FILLUP_R</Permission>
				<Permission>SURVEY_QUESTION_FILLUP_U</Permission>
				<Permission>SURVEY_QUESTION_FILLUP_D</Permission>
			</Permissions>
		</Menu>
			<Menu>
				<ParentMenu>Survey</ParentMenu>
				<Title>Manage Survey</Title>
				<Link>survey.php</Link>
				<Permissions>
					<Permission>SURVEY_C</Permission>
					<Permission>SURVEY_U</Permission>
					<Permission>SURVEY_D</Permission>	
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Survey</ParentMenu>
				<Title>Manage Survey Question</Title>
				<Link>survey_question.php</Link>
				<Permissions>
					<Permission>SURVEY_QUESTION_C</Permission>
					<Permission>SURVEY_QUESTION_U</Permission>
					<Permission>SURVEY_QUESTION_D</Permission>	
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Survey</ParentMenu>
				<Title>Manage Survey Question Type</Title>
				<Link>survey_question_type.php</Link>
				<Permissions>
					<Permission>SURVEY_QUESTION_TYPE_C</Permission>
					<Permission>SURVEY_QUESTION_TYPE_U</Permission>
					<Permission>SURVEY_QUESTION_TYPE_D</Permission>	
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Survey</ParentMenu>
				<Title>Survey Question Fillup</Title>
				<Link>survey_question_fillup.php</Link>
				<Permissions>
					<Permission>SURVEY_QUESTION_FILLUP_C</Permission>
					<Permission>SURVEY_QUESTION_FILLUP_R</Permission>
					<Permission>SURVEY_QUESTION_FILLUP_U</Permission>
					<Permission>SURVEY_QUESTION_FILLUP_D</Permission>					
				</Permissions>
			</Menu>

</Menus>