<Menus>


	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Administration</Title>
		<Permissions>
			<Permission>USER_C</Permission>
			<Permission>USER_U</Permission>
			<Permission>USER_D</Permission>				
			<Permission>ROLE_C</Permission>
			<Permission>ROLE_U</Permission>
			<Permission>ROLE_D</Permission>	
			<Permission>PERMISSION_C</Permission>
			<Permission>PERMISSION_U</Permission>
			<Permission>PERMISSION_D</Permission>
			<Permission>DISCIPLINE_C</Permission>
			<Permission>DISCIPLINE_U</Permission>
			<Permission>DISCIPLINE_D</Permission>
			<Permission>SCHOOL_C</Permission>
			<Permission>SCHOOL_U</Permission>
			<Permission>SCHOOL_D</Permission>
			<Permission>POSITION_C</Permission>
			<Permission>POSITION_U</Permission>
			<Permission>POSITION_D</Permission>						
		</Permissions>			
	</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Role Related</Title>
			<Permissions>
				<Permission>ROLE_C</Permission>
				<Permission>ROLE_U</Permission>
				<Permission>ROLE_D</Permission>	
				<Permission>PERMISSION_C</Permission>
				<Permission>PERMISSION_U</Permission>
				<Permission>PERMISSION_D</Permission>															
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Role</Title>
				<Link>role.php</Link>
				<Permissions>
					<Permission>ROLE_C</Permission>
					<Permission>ROLE_U</Permission>
					<Permission>ROLE_D</Permission>
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Role Related</ParentMenu>
				<Title>Manage Permission</Title>
				<Link>permission.php</Link>
				<Permissions>
					<Permission>PERMISSION_C</Permission>
					<Permission>PERMISSION_U</Permission>
					<Permission>PERMISSION_D</Permission>
				</Permissions>
			</Menu>

		<Menu>
			<ParentMenu>Administration</ParentMenu>
			<Title>Setup Related</Title>
			<Permissions>
				<Permission>USER_C</Permission>
				<Permission>USER_U</Permission>
				<Permission>USER_D</Permission>	
				<Permission>DISCIPLINE_C</Permission>
				<Permission>DISCIPLINE_U</Permission>
				<Permission>DISCIPLINE_D</Permission>
				<Permission>SCHOOL_C</Permission>
				<Permission>SCHOOL_U</Permission>
				<Permission>SCHOOL_D</Permission>
				<Permission>POSITION_C</Permission>
				<Permission>POSITION_U</Permission>
				<Permission>POSITION_D</Permission>
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage User</Title>
				<Link>user.php</Link>
				<Permissions>
					<Permission>USER_C</Permission>
					<Permission>USER_U</Permission>
					<Permission>USER_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Discipline</Title>
				<Link>discipline.php</Link>
				<Permissions>
					<Permission>DISCIPLINE_C</Permission>
					<Permission>DISCIPLINE_U</Permission>
					<Permission>DISCIPLINE_D</Permission>
				</Permissions>
			</Menu>
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage School</Title>
				<Link>school.php</Link>
				<Permissions>
					<Permission>SCHOOL_C</Permission>
					<Permission>SCHOOL_U</Permission>
					<Permission>SCHOOL_D</Permission>
				</Permissions>
			</Menu>			
			<Menu>
				<ParentMenu>Setup Related</ParentMenu>
				<Title>Manage Position</Title>
				<Link>position.php</Link>
				<Permissions>
					<Permission>POSITION_C</Permission>
					<Permission>POSITION_U</Permission>
					<Permission>POSITION_D</Permission>
				</Permissions>
			</Menu>	
	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Registration</Title>
		<Permissions>
			<Permission>COURSE_C</Permission>
			<Permission>COURSE_U</Permission>
			<Permission>COURSE_D</Permission>												
			<Permission>USER_C</Permission>
			<Permission>USER_U</Permission>
			<Permission>USER_D</Permission>								
		</Permissions>			
	</Menu>


		<Menu>
			<ParentMenu>Registration</ParentMenu>
			<Title>Course Related</Title>
			<Permissions>
				<Permission>COURSE_C</Permission>
				<Permission>COURSE_U</Permission>
				<Permission>COURSE_D</Permission>												
				<Permission>USER_C</Permission>
				<Permission>USER_U</Permission>
				<Permission>USER_D</Permission>								
				<Permission>REGISTRATION_C</Permission>
				<Permission>REGISTRATION_U</Permission>
				<Permission>REGISTRATION_D</Permission>		
				<Permission>TERM_C</Permission>
				<Permission>TERM_U</Permission>
				<Permission>TERM_D</Permission>															
			</Permissions>
		</Menu>	

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Course</Title>
				<Link>#</Link>
				<Permissions>
					<Permission>COURSE_C</Permission>
					<Permission>COURSE_U</Permission>
					<Permission>COURSE_D</Permission>				
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Student</Title>
				<Link>user.php</Link>
				<Permissions>
					<Permission>USER_C</Permission>
					<Permission>USER_U</Permission>
					<Permission>USER_D</Permission>								
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Registration</Title>
				<Link>#</Link>
				<Permissions>
					<Permission>REGISTRATION_C</Permission>
					<Permission>REGISTRATION_U</Permission>
					<Permission>REGISTRATION_D</Permission>												
				</Permissions>
			</Menu>

			<Menu>
				<ParentMenu>Course Related</ParentMenu>
				<Title>Manage Term</Title>
				<Link>term.php</Link>
				<Permissions>
					<Permission>TERM_C</Permission>
					<Permission>TERM_U</Permission>
					<Permission>TERM_D</Permission>												
				</Permissions>
			</Menu>

	<Menu>
		<ParentMenu></ParentMenu>
		<Title>Student Center</Title>
		<Permissions>
			<Permission>DISCUSSION_C</Permission>
			<Permission>DISCUSSION_U</Permission>
			<Permission>DISCUSSION_D</Permission>												
		</Permissions>			
	</Menu>

		<Menu>
			<ParentMenu>Student Center</ParentMenu>
			<Title>Discussion Topic</Title>
			<Permissions>
				<Permission>DISCUSSION_C</Permission>
				<Permission>DISCUSSION_U</Permission>
				<Permission>DISCUSSION_D</Permission>												
			</Permissions>
		</Menu>
			<Menu>
				<ParentMenu>Discussion Topic</ParentMenu>
				<Title>Manage Discussion</Title>
				<Link>#</Link>
				<Permissions>
					<Permission>DISCUSSION_C</Permission>
					<Permission>DISCUSSION_U</Permission>
					<Permission>DISCUSSION_D</Permission>
				</Permissions>
			</Menu>


</Menus>